.container{
    margin: 0;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    background-image: url(https://wallpapers.com/images/hd/4k-landscape-purple-sunset-flower-8hyy4sc6qf6j5735.jpg);
    background-size: cover;
    background-position: center;
    color: white;
    text-align: center;
    padding: 20%
}


.h1-inicio{
    font-size: 3em;
    text-shadow: 5px 5px 12px rgba(0, 0, 0, 1);
}

.p{
    font-size: 1.5em;
    text-shadow: 2px 2px 12px rgba(0, 0, 0, 1);
}